a==1.0
Adyen==6.0.0
aliyun-fc2==2.4.0
aliyun-python-sdk-core==2.13.35
aliyun-python-sdk-core-v3==2.13.32
aliyun-python-sdk-ecs==4.19.8
aliyun-python-sdk-kms==2.15.0
aniso8601==9.0.1
apispec==5.1.1
apispec-webframeworks==0.5.2
APScheduler==3.6.3
attrs==21.2.0
beautifulsoup4==4.11.1
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
click==8.0.3
colorama==0.4.4
cprotobuf==0.1.9
crcmod==1.7
crypto==1.4.1
cryptography==35.0.0
cycler==0.11.0
elastic-transport==8.4.0
elasticsearch7==7.17.6
et-xmlfile==1.1.0
flasgger==0.9.5
Flask==2.0.2
Flask-Cors==3.0.10
Flask-RESTful==0.3.9
flask-restplus==0.13.0
funcsigs==1.0.2
greenlet==1.1.2
idna==3.3
imagecodecs==2020.5.30
importlib-metadata==4.8.2
importlib-resources==5.4.0
itsdangerous==2.0.1
jdcal==1.4.1
Jinja2==3.0.3
jmespath==0.10.0
joblib==1.1.0
jpush==3.3.8
jsonschema==4.2.1
kafka-python==2.0.2
kiwisolver==1.3.2
lxml==4.8.0
lz4==3.1.3
MarkupSafe==2.0.1
marshmallow==3.14.1
matplotlib==3.3.3
mccabe==0.7.0
mistune==2.0.4
Naked==0.1.31
numpy==1.21.6+mkl
opencv-python==4.4.0.46
openpyxl==3.0.4
ortools==8.0.8283
oss2==2.12.1
paho-mqtt==1.5.0
pandas==1.0.5
Pillow==9.2.0
protobuf==3.19.1
pycodestyle==2.10.0
pycparser==2.21
pycryptodome==3.10.1
pydatahub==2.16.0
pydocstyle==6.1.1
pyflakes==3.0.1
PyJWT==1.7.1
pylama==7.7.1
PyMySQL==0.9.3
pyOpenSSL==20.0.1
pyparsing==3.0.5
pypiwin32==224+dummy
pyrsistent==0.18.0
python-dateutil==2.8.1
pytz==2021.3
PyWavelets==1.3.0
pywin32==303
PyYAML==6.0
redis==3.5.3
requests==2.26.0
requests-pkcs12==1.10
scikit-learn==0.23.2
scipy==1.5.4
shellescape==3.8.1
simplejson==3.17.5
six==1.16.0
sklearn==0.0
snowballstemmer==2.2.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.27
swagger-ui==0.1.2
threadpoolctl==3.1.0
tifffile==2021.11.2
tornado==6.0.4
typing-extensions==4.0.0
tzlocal==2.1
urllib3==1.26.14
webargs==8.0.1
Werkzeug==2.0.2
xlrd==2.0.1
xmltodict==0.12.0
zipp==3.6.0
